<h1> List of Tasks </h1>

<ul>
    <% @tasks.each do |task| %>
        <li> 
            <%= check_box_tag "tasks[#{task.id}][completed]", task.id, task.completed %>
            <%= link_to task.title, task_path(task) %>
        </li>
    <% end %>
</ul>

<%= link_to "Add a task", new_path %>
